{% extends 'base.html' %}

{% block title %} B&C - Mis productos publicados {% endblock %}

{% block section %}
    <h4 align='center'><u>Mis productos publicados</u></h4>
    <a href="/mySpace" class="button" style="margin-left:79%; margin-top:-5%; position:fixed">Mi Área Personal</a>
    <div id="div1">
        <table class="u-full-width" border="5">
            <thead>
                <tr>
                    <th>Categoria</th>
                    <th>Descripción</th>
                    <th>Estado de uso</th>
                    <th>Imagen</th>
                    <th>Ubicación</th>
                </tr>
            </thead>
        {% for item in products_list %}
            <tbody>
                <tr>
                    <td>{{ item.category }}</td>
                    <td>{{ item.description}}</td>
                    <td>{{ item.functionality }}</td>
                    {% if item.image %}
                        <td> <img src=/media/{{item.image}} width="130" height="100" /></td>
                    {% else %}
                        <td> ------- </td>
                    {% endif %}
                    <td>{{ item.location }}</td>
                </tr>
            </tbody>
        {% endfor %}
        </table>
    </div>
    <br>

{% endblock %}